{{ define "main" }}
<h1>{{ .Title | lower }}</h1>
{{ with .Content }}{{ . }}{{ end }}

{{ $today := time.AsTime (now.Format "2006-01-02") }}
{{ $upcoming := where .RegularPages "Date" ">=" $today }}
{{ $past := where .RegularPages "Date" "<" $today }}

{{ with $upcoming }}
<h2>upcoming</h2>
<ul class="posts">
    {{ range sort . "Date" "asc" }}{{ partial "presentation-entry.html" . }}{{ end }}
</ul>
{{ end }}

{{ with $past }}
{{ if $upcoming }}<h2>past</h2>{{ end }}
<ul class="posts">
    {{ range . }}{{ partial "presentation-entry.html" . }}{{ end }}
</ul>
{{ end }}
{{ end }}
